name: Release Toolchain & Feed

on:
  push:
    tags: "v*"

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  gh_tagged_release:

    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-20.04

    env:
      CXXFLAGS: -std=c++11 -fPIC

    steps:
    - name: Update APT
      run: sudo apt update

    - name: Install Utilities
      run: sudo apt install apt-utils ca-certificates locales curl wget jq libxml2-utils

    - name: Install Build Tools
      run: sudo apt install build-essential pkg-config libtool

    - name: Install QiBuild
      run: sudo pip install qibuild
      
    - name: Install Dependencies
      run: sudo apt install python3-dev libudev-dev
    
    - uses: actions/checkout@v2
    
    - name: Display CMake Version
      run: cmake --version
      
    - name: Display Python Version
      run: python3 --version
 
    - name: Prepare Output Directory
      run: mkdir -p /tmp/workspace

    - name: ICU
      working-directory: scripts
      run: bash build_icu.sh

    - name: ZLib
      working-directory: scripts
      run: bash build_zlib.sh

    - name: Boost
      working-directory: scripts
      run: bash build_boost.sh

    - name: OpenSSL
      working-directory: scripts
      run: bash build_openssl.sh

    - name: Release Packages
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        files: |
          /tmp/workspace/*.zip
      id: "release"

    - name: Make Feed
      run: scripts/make_feed.sh

    - name: Release Feed
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.release.outputs.upload_url }}
        asset_path: feed.xml
        asset_name: feed.xml
        asset_content_type: application/xml
